{# src/UserInterface/Presenter/templates/register.html.twig #}
{% extends '@SharedKernel/base.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Mes produits</h2>
    </div>
{% endblock %}
