name: deploy

on:
  push:
    branches: [master]

concurrency: production_environment

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Test SSH
        run: ssh -i ~/.ssh/github_actions_rsa master_cfmyeckyfg@178.128.41.81 "echo OK"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3.10"

      - name: Deploy
        uses: deployphp/action@v1
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          dep: deploy
          deployer-version: "7.5.12"  # ou la version que tu utilises